.jumb-container {
    min-height: 20vh;
    height: auto;
}

.jumbotron-bg{
    color: #fff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 27%, rgba(121,9,70,0.8) 53%, rgba(0,212,255,1) 75%);
    background: -webkit-linear-gradient(to right, rgba(2,0,36,1) 27%, rgba(121,9,70,0.8) 53%, rgba(0,212,255,1) 75%);
    background:  linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(56, 15, 17, 0.5)
    ), url('https://picsum.photos/2048/1365/?random')   ;
    background-position: center center;
    filter: blur(0.2px);
    overflow: hidden;
    text-shadow:0 1px 5px rgba(0,0,0,.1);
    margin: 0;
}